<%= form_with(model: group, class: "form-data", url: groups_path) do |form| %>
  <div "data-section">
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> Can't save this category:</h2>
        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field-cnt">
      <%= form.label "Name:", class:'form-field-label width-sm'  %>
      <%= form.text_field :name, placeholder: "Category's name ", class:'form-field-input' %>
    </div>
    
    <div class="form-field-cnt">
      <%= form.label "Icon:", class: 'form-field-label width-sm' %>
      <%= form.hidden_field :icon, id: 'selected-icon' %>
      <div class="icon-select">
        <% @icon_names.map do |i| %>
          <div class="icon-cnt">
            <label class="icon-label">
              <%= image_tag "caticons/#{i}", class:'category-icon' %>
              <%= form.radio_button :icon, i, class:'icon-option', required: true, onchange: 'selectIcon(this)'  %>
            </label>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= form.submit "Save changes", class: "format-btn-submit" %>
  </div>
<% end %>
