<div class='container flex-col'>
  <div class='payments-group-card max-height-lg'>
    <h3>Payments for Category</h3>
    <h2><%= @group.name %></h2>
    <div class='row group-header'>
      <div class='icon-cnt'>
        <%= image_tag "caticons/#{@group.icon}", class: 'category-icon' %>
      </div>

      <div class="flex-col group-amount">
        <strong>Total Amount</strong>
        <strong>
          <%= number_to_currency(@group.payments.sum(:amount), unit: "$", precision: 2) %>
        </strong>
      </div>
    </div>


    <div id="groups" class="cnt-scrollable max-height-md">
      <% @payments.each do |payment| %>
        <div class = 'payment-detail row'>
          <div class = 'payment-name-date'>
            <div class = 'payment-name'>
              <%= payment.label.name %>
            </div>
            <div class = 'payment-date'>
              <%= payment.created_at.strftime("%a, %d %b %y (%I:%M%p)") %>
            </div>
          </div>
          <div class = 'payment-amount'>
            <%= number_to_currency(payment.amount, unit: "$", precision: 2) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class= 'welcome-buttons'>
    <div class="actions">
      <%= link_to "Add transaction", new_group_payment_path(@group), class: "format-btn-submit"  %>
    </div>
    <div class="actions-2">
      <%= link_to "< Back", groups_path, class: "format-btn-submit"  %>
    </div>
  </div>
</div>