<div class='container flex-col'>
  <h2 class='padding-top-4'>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field row border">
      <%= image_tag("email-icon.svg", class:'field-icon') %> 
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:'field-input' %>
    </div>

    <div class="padding-top-4">
      <div class="actions padding-top-4">
        <%= f.submit "Send me reset password instructions", class: "format-btn-submit" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>