<!DOCTYPE html>
<html>
  <head>
    <title>JourneyCash</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag "general_styles.css" %>
    <%= stylesheet_link_tag "payments.css" %>
  </head>

  <body>
    <%= render "shared/header", user: @user %>
    <div class="wrapper">
      <%= yield %>
    </div>

    <%# Navigation menu logic %>
    <%= javascript_include_tag 'general/navbar' %>

    <%# add js for groups page %>
    <%= javascript_include_tag 'general/groups' %>

  </body>

</html>
