<!DOCTYPE html>
<html>
  <head>
    <title>JourneyCash</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "common/header", user: @user %>
      <div class="wrapper">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
      <%= render "common/footer" %>
      <%# Navigation menu logic %>
      <%= javascript_include_tag 'navbar' %>
    </body>

</html>
